 {{#if player_name}}
  Hey {{player_name}}, there are {{numberOfBottles}} on the wall.
{{else}}
  {{numberOfBottles}} bottles of beer on the wall.
{{/if}}
{{#if next}}
  <a href='/{{next}}'>Take One Down, Pass it Around</a>
{{else}}
  <a href='/'>Start Over</a>
{{/if}}